body{background-color: #0fcf90}
h1{color: #b9105e;}
h2{color: orange;}
li{color:  #4d4dff;}
p{background-color: yellow;}
input{border-width:3px;
border-color: red;}
.hello{background-color: white;}
#special{border-style: solid;
border-color: rgb(77, 77, 255);
border-width: 2px;}
div p{font-size: 25px;}

input[type="text"]{background-color: gray;}

div:nth-of-type(3) >p{
    background-color: pink;}
 div:nth-of-type(3)>p:nth-of-type(2){
    border: 5px solid white;
}
div:nth-of-type(3) em{font-size: 20px;
color: white;}
input[type=checkbox]:checked{margin-left:50px ;}
label{text-transform: uppercase;}
#special::first-letter{color: green;
font-size: 100px;}
h1:hover{color: blue;}
a:visited{color: gray;}